<div ng-controller="viewProfileCtrl">
        
    <div style="width:80%;margin:4vh auto;">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4" for="firstname">First Name:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.firstName}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="middlename">Middle Name:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.middleName}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="lastname">Last Name:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.lastName}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="yob">Year of birth:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.yob}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="pin">Pin Code:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.pin}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="edu">Education:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.education}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="suburb">Suburb:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.suburb}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="gothra">gothra:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.gothra}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="veda">Veda:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.veda}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="occupation">Occupation:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.occupation}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="hobbies">Hobbies:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.hobbies}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="maritalStatus">Marital status:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.maritalStatus}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="kids">No. of Sons:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.numOfSons}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="kids">No. of daughters:</label>
                <div class="col-sm-8">
                    <p>{{curProfile.numOfDaughters}}</p>
                </div>
            </div>
        </form>
    </div>
</div>